

/////////////////////////////////////
//////////// PLACEHOLDER ////////////
/////////////////////////////////////

%rounded-server{
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  font-size: 0%;
  padding: 2.5em 0 0 2.5em;
}

/////////////////////////////////////
////////////// GENERAL //////////////
/////////////////////////////////////

body{
  background: tomato;
}

m1m-media-browser{
  p.server{
    @extend %rounded-server;
    background-color: gold;
    :before{
      content: "lol";
      font-size: 100%;
    }
  }
}
